# Base URL of the FastAPI backend.
NEXT_PUBLIC_API_URL=http://localhost:8000

# Clerk auth (get these from https://dashboard.clerk.com).
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Y29zbWljLWhhd2stNDk4OC5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_YFW2Nc0k8wbvqeFmnvt29gHxJUii19LnM0vACrRTvp
